




.container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start; /* Usa 'center' si quieres centrar verticalmente todo */
}


h1 {
  font-size: 2rem;
  color: #333;
}
.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
